/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
html {
  box-sizing: border-box;
  width: 100%;
  background: rgb(114, 1, 1);
  color: white;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
main {
  /* border: solid white; */
  background-color: gainsboro;
  color: black;
}

div {
  /* border: solid black; */
}

button {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

form input[type="radio"] + label {
  display: inline;
  font-size: 2em;
  padding: 0 20px;
  margin: 0;
}

.welcome {
  font-size: 3em;
}

.js-score {
  margin-left: 10px;
}

.js-score, legend, .question {
  font-size: 1.5em;
}

.js-correct {
  background-color: greenyellow;
  text-emphasis: bold;
}

/*for desktops and wider screens */
@media all and (min-width: 800px) {

  .welcome {
    font-size: 3em;
  }

  body {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
}